@tailwind base;
@tailwind components;
@tailwind utilities;



/*  Filename: ./components/ToggleSwitch.css*/

.toggle-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switch {
  width: 50px;
  height: 25px;
  border-radius: 15px;
  background-color: #ccc;
  position: relative;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.switch.on {
  background-color: #4f48b9;
}

.switch.off {
  background-color: #e0e7ff;
}

.toggle-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  transition: left 0.3s;
}

.switch.on .toggle-circle {
  left: 55%;
}

.switch.off .toggle-circle {
  left: 5%;
}
